#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: calc(100vh + 300px);
    padding-top: 50px;
    padding-bottom: 1000px; /* to remove */

    border-top: 1px solid #ffffff08;

    background-color: var(--bg-main);
    box-shadow: 0 0 100px #0008;
}

/* featured */
#featured {
    margin-top: -300px;
}

#featured>span {
    display: block;

    margin: .5em 0;
    padding-left: .5ch;

    color: var(--fg-light);
    font-family: var(--cgothic);
    font-size: 24px;
    letter-spacing: .3ch;
}

#featured>a {
    font-size: 32px;
}

@media (min-width: 700px) {
    #featured img {
        height: 400px;

        border-radius: 30px;
    }
}

@media (max-width: 700px) {
    #featured img {
        width: 100%;
    }
}

#featured p {
    box-sizing: border-box;
    margin-top: 1.5em;
    padding: 0 50px;

    min-width: 100%;
    width: 0;

    text-align: center;
}

a.image-repo-link {
    position: relative;
    display: block;
}

a.image-repo-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-family: var(--cgothic);
    text-align: center;

    pointer-events: none;
}

/* secondary featured */
.repos-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 800px;
}

.repos-list>div {
    display: flex;
    align-items: center;
    gap: 20px;

    box-sizing: border-box;

    margin: 20px 0;
    padding: 10px 20px;
    width: 100%;

    background-color: var(--bg-light);
}

@media (min-width: 700px) {
    .repos-list>div {
        border-radius: 25px;
    }
}

.repos-list>br {
    content: "";
    width: 70%;
    height: 1px;
    border-bottom: 1px solid #fff2;
}

.repos-list img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    border-radius: 20px;
}

.repos-list .right {
    display: flex;
    justify-content: end;
    text-align: right;
}

a.external-open {
    position: relative;
}

a.external-open:after {
    content: "";
    position: absolute;
    inset: 0;

    transition: .3s opacity;
    opacity: 0;

    background: url("/v3/images/external-open.svg"), #fff8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    mask-image: radial-gradient(circle, black 30%, transparent 70%);
    mask-size: cover;
}

a.external-open:hover:after {
    opacity: 1;
}

a.button {
    transition: .4s;

    margin: 25px 0;
    padding: .8em;
    min-width: 150px;

    box-shadow: 5px 10px 20px #0002;
    border-radius: 2em;
    background-color: var(--bg-light);
    color: var(--accent-color);
    border: 3px solid var(--accent-color);

    font-family: var(--bpoppins);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    box-shadow: 2px 5px 10px var(--accent-color-dark);
    color: var(--bg-main);
    background-color: var(--accent-color);

    transform: translateY(3px);
}
