@font-face {
    src: url("/v3/fonts/CourierNew.ttf");
    font-family: "cnew";
    font-display: swap;
}

@font-face {
    src: url("/v3/fonts/CenturyGothic.ttf");
    font-family: "cgothic";
    font-display: swap;
}

@keyframes float-down {
    from {
        filter: opacity(0);
        transform: translateY(-50%);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes float-up {
    from {
        filter: opacity(0);
        transform: translateY(50%);
    }
    to {
        filter: opacity(1);
    }
}

.appear {
    animation: 1s var(--animation) forwards;
}

.disappear {
    animation: 1s var(--animation) forwards reverse;
}

body {
    margin: 0;
}
