@font-face {
    src: url("/v3/fonts/CenturyGothic.ttf");
    font-family: "cgothic";
    font-display: swap;
}

@keyframes float-down {
    from {
        filter: opacity(0);
        transform: translateY(-50%);
    }
    to {
        filter: opacity(1);
    }
}

body {
    margin: 0;
}
