.repos-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 800px;
}

.repos-list>div {
    margin: 20px 0;
}

.repos-list>br {
    content: "";
    width: 70%;
    height: 1px;
    border-bottom: 1px solid #fff2;
}

.repos-list img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    border-radius: 20px;
}

.repos-list .right {
    display: flex;
    justify-content: end;
    text-align: right;
}

a.external-open {
    position: relative;
}

a.external-open:after {
    content: "";
    position: absolute;
    inset: 0;

    transition: .3s opacity;
    opacity: 0;

    background: url("/v3/images/external-open.svg"), #fff6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    mask-image: radial-gradient(circle, black 30%, transparent 60%);
    mask-size: cover;
}

a.external-open:hover:after {
    opacity: 1;
}
