:root {
    --subtitle-color: #cf8c50;
}

@keyframes blink {
    0% {
        filter: opacity(0);
    }
    50% {
        filter: opacity(1);
    }
    100% {
        filter: opacity(0);
    }
}

#title {
    position: absolute;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    top: 50%;
    left: 50%;
    margin: 0;

    filter: drop-shadow(0 0 20px #22222c30);
}

#title h1 {
    margin: 0;

    font-family: "cgothic", century gothic, sans-serif;
    font-weight: normal;
    font-size: 100px;

    text-wrap: nowrap;
    color: #e3dfdf;

    --animation: float-down;
}

#title h2 {
    display: inline-block;
    position: relative;
    margin: 0;

    height: 1em;
    min-width: 1ch;

    font-family: "cnew", courier new, monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;

    text-align: center;
    color: var(--subtitle-color);

    --animation: float-up;
}

/* vim modes */
#title h2:is(.normal, .visual):after {
    content: "";

    position: absolute;
    right: 0;

    width: 0.9ch;
    height: 1em;

    color: transparent;
    background-color: var(--subtitle-color);
    mix-blend-mode: screen;
}

#title h2.insert:after {
    display: inline-block;
    content: "|";
    transform: translate(-.25em, -.05em);
}

#title h2.visual {
    background: color-mix(in srgb, currentColor 30%, transparent);
}
