body, html {
	margin: 0;
	padding: 0;

	background-color: #ddd;
	color: #222;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30%;
}

p {
	font-size: 30px;
	font-weight: bold;
}
