@font-face {
	font-family: "ubuntu";
	src: url("Ubuntu-R.ttf");
}

@font-face {
	font-family: "cascadia";
	src: url("Cascadia.ttf");
}

body, html {
	margin: 0;
	padding: 0;

	background-color: #e2e5e5;
	color: #111;
}

body {
	font-family: ubuntu;
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

section {
	display: flex;
	justify-content: center;
	gap: 50px;

	width: 100%;
}

.block {
	position: relative;
	display: flex;
	justify-content: center;

	width: 500px;
	height: 80px;
	padding: 20px;

	border-radius: 20px;
	border: 5px solid #656767;
	background-color: var(--color);
}

.block>img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(20px, -50%);

	width: 80px;
	height: 80px;

	border-radius: 20px;
}

.block>div {

}

.block>div>strong {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

.block>div>span {
	font-size: 16px;
}
