@font-face {
	font-family: "ubuntu";
	src: url("Ubuntu-R.ttf");
}

@font-face {
	font-family: "cascadia";
	src: url("Cascadia.ttf");
}

@font-face {
	font-family: "proximab";
	src: url("ProximaSoft-Bold.ttf");
}

body, html {
	margin: 0;
	padding: 0;

	background-color: #e2e5e5;
	color: #111;
}

body {
	font-family: cascadia;
}

canvas {
	width: 100%;
	height: 100%;
	position: fixed;
}

h1 {
	margin: 100px 0 0 0;

	font-family: proximab;
	font-size: 70px;
	text-align: center;
}

h2 {
	margin: 20px 0;

	font-family: ubuntu;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

.withline {
	display: flex;
	align-items: center;
	gap: 20px;

	margin: 70px auto 30px auto;
	padding: 0 10px;

	width: 100%;
	max-width: 1228px;
}

.withline>p {
	flex-shrink: 0;
	margin: 0;

	font-family: ubuntu;
	font-size: 28px;
	font-weight: bold;
}

.withline>span {
	display: inline;

	width: 100%;
	height: 0;

	border-bottom: 3px solid #333;
}

section>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;

	width: 100%;
	max-width: 1268px;
	margin: 0 auto;
}

.block {
	transition: transform 0.05s linear, box-shadow 0.1s ease-out;
	cursor: pointer;

	flex-shrink: 0;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;

	width: 360px;
	height: 100px;
	padding: 20px;

	border-radius: 18px;
	border: 3px solid var(--border);
	background-color: var(--bg1);

	text-decoration: none;
	color: black;
}

.block:hover {
	transform: scale(1.02);
	box-shadow: 0 0 10px var(--bg2);
}

.block>img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	width: 140px;
	height: 140px;
	
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.block>div {
	margin-left: 140px;
	z-index: 1;
}

.block>div>strong {
	display: block;

	font-family: proximab;
	font-size: 24px;
	font-weight: bold;
	color: var(--text1);
}

.block>div>span {
	font-size: 16px;
	color: var(--text2);
}

.square {
	position: relative;
	margin-top: 160px;
	width: 200px;

	font-family: ubuntu;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	color: black;
}

.square>img {
	transition: transform 0.05s linear, box-shadow 0.1s ease-out;
	position: absolute;
	transform: translate(-50%, -160px);

	top: 0;
	left: 50%;
	width: 140px;
	height: 140px;

	border-radius: 20px;
}

.square>img:hover {
	transform: translate(-50%, -160px) scale(1.02);

	box-shadow: 0 0 10px var(--color);
}

div.footer {
	display: block;
	margin-top: 80px;
}
